<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/stylel.css">
  <link rel="stylesheet" href="static/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label><a class="logo" href="/">SearchBooks</a> </label>
    <ul>
        <li><a href="/login"> Ingresar </a></li>
        <li><a href="/register"> Registrarse</a></li>
        
    </ul>
  <div class="login-form" >
    <h2>REGISTRARSE</h2>
    <form action="/register" method="post">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password">
      <button type="submit">Ingresar</button>
    </form>
  </div>
  
</body>
</html>